<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    layout:decorate="~{layouts/base}">
  <main layout:fragment="main">
    <form action="" method="POST" th:object="${object}" class="edit-user">
      <div class="mb-3">
        <label for="name">Name</label>
        <input name="name" th:field="*{name}" type="text" id="name"
            autofocus class="form-control">
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
            class="alert alert-danger">
          Invalid user name
        </p>
      </div>
      <div class="mb-3">
        <label for="email">Email</label>
        <input name="email" th:field="*{email}" type="email" id="email"
            required class="form-control">
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
            class="alert alert-danger">
          Invalid user email
        </p>
      </div>
      <div class="mb-3">
        <label for="role">Role</label>
        <select th:field="*{role_id}" name="role" id="role" class="form-control">
          <option value="">--Select Role--</option>
          <option th:each="role : ${roles}" th:value="${role.id}"
              th:text="${role.name}"></option>
        </select>
        <p th:if="${#fields.hasErrors('role_id')}" th:errors="*{role_id}"
            class="alert alert-danger">
          Invalid user role
        </p>
      </div>

      <button type="submit" class="btn btn-primary">Update</button>
      <button type="reset" class="btn btn-secondary">Reset</button>
      <a th:if="${forwardUrl}" th:href="${forwardUrl}"
          class="btn btn-link go-back">
        Back
      </a>
    </form>
  </main>
</html>